body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*table td {
    height: 30px;
    border: 1px solid black;
}

table tr {
    height: 30px;
}

#head td {
    border: 1px solid black;
    width: 14%;
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-weight: 700;
}

table {
    border: 1px solid black;
}

.tableview {
    margin-top: 40px;
}

.Area-selectors {
    position: relative;
    margin-top: 30px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .Area-selectors div {
        display: inline;
        position: relative;
        padding-left: 15px;
    }*/
